* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

form {
    margin: 0.8rem;
}